.contain_items{
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/pictures/singIn/pic.jpg');
}
/* 
.text_contain{
    background-color: turquoise;
    width: 50%;
    margin-top: 20%;
}
.form__field {
    font-family: inherit;
    width: 15%;
    border: 0;
    border-bottom: 2px solid #080662;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    
    margin-top: 20%;
    margin-left: 40%; 
    direction: rtl;
    margin-top: 3%;
    margin-left: 35%;

  }

  h1{
    font-size: 80px;
    color: #080662;
    font-family:sans-serif; 
    margin-top: 10%;
    margin-left: 30%; 

   }  */

     
.form__field {
    font-family: inherit;
    /* width: 15%; */
    border: 0;
    border-bottom: 2px solid #080662;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    /* padding: 7px 0; */
    background: transparent;
    transition: border-color 0.2s;
    
    /* margin-top: 20%;*/
    /* margin-left: 40%;  */
    direction: rtl;

 
    
  }

  button{
    background-color:#080662;
    border: transparent;
    border-radius:20px;
    color: white;
    margin-left:15%;
    margin-top: 10%;
    width: 120px;
    height: 35px;
  }

  
 h1{
  font-size: 80px;
  color: #080662;
  font-family:sans-serif; 
  /* margin-left: 38%;  */
 margin-bottom: 15%;
/* margin-top: 10%; */
 } 


.text_contain{
    /* position: relative;  */
    /* top:-80%;  */
    margin-top:20%;
    width: 20%;
    height: 20%;
    margin-left: 4%;

    /* margin-left: 30%; */

    /* background-color: blueviolet; */
}   


