<html>
    <body>

                <p>delivery-routs works!</p>
                
                    <h1>תצוגת מסלולים</h1>
                    <span class="badge  ">שם השליח</span>
                

                    <!-- דיב עוטף לנאב -->
                    <div class="navC">
                    <ul class="nav nav-tabs">
                        <li >
                          <a class="nav-link active" href="#" >פרטי שליח</a>
                        </li>
                        <li >
                          <a class="nav-link" href="#" routerLink="/ShowRout">תצוגת מסלול</a>
                        </li>
                        <li >
                          <a class="nav-link" href="#" routerLink="/ListPackages" table:style="${condition ? 'display:block' : 'display:none'}">תצוגת חבילות</a>
                        </li>
                
                        
                      </ul>
                
                </div>


<!-- <button class="y">yes</button> -->
<!-- דיב עוטף לטבלה -->
<div class="c">
    <!-- th:style="${condition ? 'display:block' : 'display:none'}"  -->
    <table class="table"  >
        <thead>
            <tr>
                <th>קוד שליח</th>
                <th>שם שליח</th>
                <th>סטטוס</th>
                <th>כתובת</th>
                <th>תאריך שליחה</th>
                <th>שם לקוח</th>
                <th>מספר הזמנה</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>


