


   
    

    /* דיב עוטף לנאב */
    .navC{
        /* float: right; */
        margin-left: 60%;
       color: white;
       
    }

    
/* .headlines{
    margin-top: 30px;
    margin-left:55%;
} */
h1{
   
        font-size: 65px;
        color: #080662;
        font-family:sans-serif;
        margin-left: 50%;
        margin-top: 30px;

}