<div class="container mt-3" >     
    <table class="table" class="tabel1" >
      <thead>
        <tr class="myTitle" >
          <th>מספר הזמנה</th>
          <th>שם לקוח</th>
          <th>תאריך שליחה</th>
          <th>כתובת</th>
          <th>סטטוס</th>
          <th>שם שליח</th>
          <th>קוד שליח</th>
        </tr>
      </thead>
      <tbody class="myBody" >
        <tr>
          <td>חננאל</td>
          <td>חננאל</td>
          <td>חננאל</td>
          <td>חננאל</td>
          <td>חננאל</td>
          <td>חננאל</td>
          <td>חננאל</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
      
        </tr>
        <tr>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
      
        </tr>
        <tr>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
      
        </tr>
        <tr>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
            <td>חננאל</td>
      
        </tr>
      </tbody>

    </table>
 
  </div>
