.contain1{
    border-style: solid;
    border-color: silver;
    background-color: rgb(227, 236, 241);
    width: 450px;
    height: 75px;
    margin-top: 25px;
    margin-left: 55px ;
    margin-right: 25px;
    direction: rtl;
}
.myTitle{
    color:rgb(16, 9, 102);
    font-weight: bold;
    padding: 5px;
}
.contain2{
    border-style: solid;
    border-color: silver;
    background-color: rgb(227, 236, 241);
    width: 450px;
    height: 400px;
    margin-top: 25px;
    margin-left: 55px ;
    margin-right: 25px;
    direction: rtl;
}
.myBody{
    color:rgb(16, 9, 102);
}
.more{
    width: 30px;
    height: 30px;
    background-color: #feab69;
    font-weight: bold;
    border-color: none;
    margin-left: 150px;
}
