<div class="contain1">
  <table class="table">
    <thead class="myTitle">
      <tr>
        <th>מספר הזמנה</th>
        <th>שם לקוח</th>
        <th>תאריך שליחה</th>
        <th>כתובת</th>
        <th>סטטוס</th>
        <th>שם שליח</th>
        <th>קוד שליח</th>
      </tr>
    </thead>
  </table>
</div>
<div class="contain2">
  <table class="table">
    <tbody class="myBody" >
      <tr>
        <td>123456</td>
        <td>אביב</td>
        <td>12/12/2022</td>
        <td>הר נוף</td>
        <td>ממתין לשליח</td>
        <td>שלום</td>
        <td>12345</td>
      </tr>
     
    </tbody>
  </table>
</div>