<!-- <div class="d-flex" style="height:800px;  background-color: aqua;">
    <img class="d-flex justify-content-center" style="background-color: red;" src="../../assets/pictures/about/tha.png" />
    <h1>מי אנחנו</h1>
</div> -->
<div class="container1">
    <div class="aligh-item">
        <div  style="height:100%;width: 50%;">
            <img src="../../assets/pictures/about/tha.png">
        </div>
        <div style="height:80%; width: 50%;">
            <h1>?מי אנחנו</h1>
            <p class="line"> </p>
        </div>
    </div>
</div>
