<!-- <div class="d-flex" style="height:800px;  background-color: aqua;">
    <img class="d-flex justify-content-center" style="background-color: red;" src="../../assets/pictures/about/tha.png" />
    <h1>מי אנחנו</h1>
</div> -->
<div class="container1">
    <div class="aligh-item">
        <div class="h-100 w-50" style="background-color: rgb(238, 84, 24);height:100%;width: 50%;">מלל</div>
        <div class="h-75 w-50" style="background-color: rgb(236, 161, 22);height:80%; width: 50%;">תמונה</div>
    </div>
</div>
