 <!-- <p>
    contact works!</p>
<div class="d">
    <h1>צור קשר</h1><br>

    <img src="../../assets/pictures/contact/email.png">
    <br>

    <img src="../../assets/pictures/contact/phone.png">
    <br>

    <img src="../../assets/pictures/contact/whatsapp.png">

</div>
<img src="../../assets/pictures/contact/Group 14.png"> -->
 <!-- <div style="background-color: rgb(5, 41, 29); height: 200px;"> sdfg</div>  -->


 <div class="container1">
    <div class="aligh-item">
        <div class="h-100 w-50" style="background-color: rgb(238, 84, 24);height:100%;width: 50%;">
          
        </div>
        <div class="h-75 w-50" style="background-color: rgb(236, 161, 22);height:80%; width: 50%;">
           
        </div>
    </div>
</div>
