 <!-- <p>
    contact works!</p>
<div class="d">
    <h1>צור קשר</h1><br>

    <img src="../../assets/pictures/contact/email.png">
    <br>

    <img src="../../assets/pictures/contact/phone.png">
    <br>

    <img src="../../assets/pictures/contact/whatsapp.png">

</div>
<img src="../../assets/pictures/contact/Group 14.png"> -->
 <!-- <div style="background-color: rgb(5, 41, 29); height: 200px;"> sdfg</div>  -->


 <div class="container1">
    <div class="aligh-item">
        <div class="h-100 w-50" style="height:100%;width: 50%;display: grid;
        align-items: end;
    ">
            <img src="../../assets/pictures/contact/Group 14.png" style="height: 425px;">
          
        </div>
        <div class="h-75 w-50" style=" height:80%; width: 50%;">
           <h1>צור קשר</h1>
           <p class="line"></p>
           <div class="contain_items">
            <div class="text_div">
              <p class="t" >SENDIT@GMAIL.COM</p>
              <!-- <p class="tb">חיסכון בזמן</p><br> -->

              <p class="t" >026225874</p>
              <!-- <p class="tb">קיצור משמרות</p><br> -->

              <p class="t" >0544659858</p>
              <!-- <p class="tb">חיסכון בדלק</p><br> -->

            </div>

          <button>להשארת פניה למערכת</button>

            <div class="contain_icons">
              <div class="icon">
                  <img src="../../assets/pictures/contact/email.png">
             </div>

              <div class="icon">
                <img src="../../assets/pictures/contact/phone.png">
              </div>

              <div class="icon">
                <img src="../../assets/pictures/contact/whatsapp.png">
             </div>
          </div>

     </div>
        </div>

    </div>
</div>
