<div class="w3-top d-flex justify-content-center">
    <div class="w3-bar nav" id="myNavbar">
        <button class="button" fragment="newslatter" routerLinkActive="active" [routerLink]="['/HomePage']">ניוזלייטר</button>
        <button class="button" fragment="statistic" routerLinkActive="active" [routerLink]="['/HomePage']">סטטיסטיקות</button>
        <button class="button" fragment="recommendations" routerLinkActive="active" [routerLink]="['/HomePage']">לקוחות ממליצים</button>
        <button class="button" fragment="about" routerLinkActive="active" [routerLink]="['/HomePage']">אודות</button>
        <button class="button" fragment="home" routerLinkActive="active" [routerLink]="['/HomePage']">בית</button>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- (click)="scroll('newslatter')" -->
