<p>personal-area works!</p>
<!-- <div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>פרטים אישיים</th>
            <th>תצוגת הזמנות</th>
            <th>תצוגת מסלולים</th>
            <th>שליחים</th>
            <th>יצירת הזמנה חדשה</th>
            
        </tr>
    </thead>

    <tbody>

    <td>jj</td>
    <td>jj</td>
    <td>jj</td>
    <td>jj</td>

    </tbody>

</table>
</div> -->
<html>
    <body>
<div class="c" >
<ul class="nav nav-tabs">
    <li >
      <a class="nav-link active" href="#" routerLink="/PersonalArea/NewOrder">יצירת הזמנה חדשה</a>
    </li>
    <li >
      <a class="nav-link" href="#" routerLink="/PersonalArea/DeliveriesList">שליחים</a>
    </li>
    <li >
      <a class="nav-link" href="#" routerLink="/PersonalArea/RoutsList">תצוגת מסלולים</a>
    </li>
    <li >
        <a class="nav-link" href="#" routerLink="/PersonalArea/OrderList">תצוגת הזמנות</a>
      </li>
      <li >
        <a class="nav-link" href="#" routerLink="/PersonalArea/Details">פרטים אישיים </a>
      </li>
    
  </ul>
</div>

</body>
<router-outlet></router-outlet>
</html>
