.text_contain{
    direction: rtl;
    margin-top: 3px;
}
.form__field{
    direction: rtl;
    background-color: #feab69;
    border:none;
    margin-right: 20px;
}
h1{
    font-weight: bold;
    color:rgb(16, 9, 102);
    direction: rtl;
    margin-right: 20px;
    margin-top: 5px;
}

button{
    background-color:rgb(16, 9, 102);
    border: transparent;
    border-radius:20px;
    color: white;
    margin-left: 43%;
    margin-top: 2%;
    width: 120px;
    height: 35px;
}


input{
    color:rgb(16, 9, 102) ;
}