<p>
    newslatter works!</p>
<div class="contain_form">
    <img style="height: 390px; top:-250px;position: relative;" src="../../assets/pictures/newslatter/undraw_newspaper_k-72-w.png">
    <!-- <form> -->
    <div class="form-row">
        <div class="col">
            <input type="submit" class="submit_button" value="שלח">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="email" placeholder="מייל" name="email">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="טלפון" name="pswd">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="שם" name="pswd">
        </div>
    </div>
    <!-- </form> -->
</div>
