<p>
    newslatter works!</p>
<img src="../../assets/pictures/newslatter/undraw_newspaper_k-72-w.png">
<div class="contain_form" >
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="email" placeholder="שם" name="email">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="טלפון" name="pswd">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="מייל" name="pswd">
            </div>
        </div>

        <input type="submit" class="submit_button" value="שלח">
    </form>

</div>

