<!-- <div >
<div class="form_container">
        <form class="forme-group">
           <h1>שם לקוח</h1>
            <input class="form-control">
            <h1>כתובת</h1>
            <input class="form-control"> -->
            <!-- <section class="item">
                <input class="input" type="search" placeholder="מוצא" ngx-google-places-autocomplete [options]='options'
                  id="Exported" [ngClass]="{'invalid':Exported_invalid==true}" (keyup)="validExported()" #placesRef="ngx-places"
                  (onAddressChange)="handleAddressChange($event,'מוצא')">
                <input type="text" id="Exported" #search1 [formControl]="searchControl1" autocomplete="off" autocapitalize="off"
                  spellcheck="off" class="input" placeholder="מוצא" [ngClass]="{'invalid':Exported_invalid==true}"
                  (keyup)="validExported()">
                <div style="float: right; text-align: center;" *ngIf="Exported_invalid==true">
                  <b style="color: red; ">{{error_messege_Exported}}</b>
                  <img style="margin-left: 5px;" src="../../assets/images/error.png" />
                </div>
              </section>‏ -->
          
            <!-- <h1>טלפון</h1>
            <input class="form-control">             
            <h1>מייל</h1>
            <input class="form-control">
            <h1>כמות ארגזים</h1>
            <input class="form-control">
        </form>
        <button routerLink="" class="OK-button">אישור</button>
</div>

</div> -->
<h1 style="text-align: center;">הכנס פרטי הזמנה:</h1>

<div class="text_contain">
   
    <h1>סטטוס</h1>
    <input  type="text" class="form__field"  name="oredr_status" [(ngModel)]="newOrder.oredr_status" />
    <label  class="form__label"> </label>
    
    <h1>תאריך יצירת הזמנה</h1>
    <input  type="datetime-local" class="form__field"  name="creation_date" [(ngModel)]="newOrder.creation_date"/>
    <label  class="form__label"> </label>


    <h1>מועד אחרון</h1>
    <input  type="datetime-local" class="form__field" placeholder="מועד אחרון"   name="deadline_date" [(ngModel)]="newOrder.deadline_date"/>
    <label  class="form__label"> </label>

    <h1>מספר חבילות</h1>
    <input  type="number" class="form__field" placeholder="הכנס מספר חבילות"   name="boxes_amount" [(ngModel)]="newOrder.boxes_amount"/>
    <label  class="form__label"> </label>
    
   

</div>
<button (click)="add()">אישור</button>
