<div >
<div class="form_container">
        <form class="forme-group">
           <h1>שם לקוח</h1>
            <input class="form-control">
            <h1>כתובת</h1>
            <input class="form-control">
            <h1>טלפון</h1>
            <input class="form-control">             
            <h1>מייל</h1>
            <input class="form-control">
            <h1>כמות ארגזים</h1>
            <input class="form-control">
        </form>
        <button routerLink="/" class="OK-button">אישור</button>
</div>

</div>