<div>
    <img class="w3-image"  src="../../assets/pictures/listPackages/pic2.jpg " alt="Hamburger Catering" width="560px" height="400px" style="border-radius: 20px;" >
    <div class="asaid">
        <h1>1.</h1>
        <h3> רחוב יפו 65 ירושלים</h3>
        <h1>2.</h1>
        <h3> רחוב יפו 65 ירושלים</h3>
        <h1>3.</h1>
        <h3> רחוב יפו 65 ירושלים</h3>
        <h1>4.</h1>
        <h3> רחוב יפו 65 ירושלים</h3>
        <h1>5.</h1>
        <h3> רחוב יפו 65 ירושלים</h3>
   
    </div>
</div>