<div>
    <img class="w3-image" src="../../assets/pictures/listPackages/pic2.jpg " alt="Hamburger Catering" width="500" height="500">
    <div class="asaid">
        <h1>1.</h1>
        רחוב יפו 65 ירושלים
        <h1>2.</h1>
        רחוב יפו 65 ירושלים
        <h1>3.</h1>
        רחוב יפו 65 ירושלים
        <h1>4.</h1>
        רחוב יפו 65 ירושלים
        <h1>5.</h1>
        רחוב יפו 65 ירושלים
        <h1>6.</h1>
        רחוב יפו 65 ירושלים
        <h1>7.</h1>
        רחוב יפו 65 ירושלים
    </div>
</div>