

.contain1{
    border-style: solid;
    border-color: silver;
    background-color: rgb(227, 236, 241);
    width: 450px;
    height: 75px;
    margin-top: 25px;
    margin-left: 25px ;
    margin-right: 25px;
    direction: rtl;
}
.myTitle{
    color:rgb(16, 9, 102);
    font-weight: bold;
    padding: 5px;
}
.contain2{
    border-style: solid;
    border-color: silver;
    background-color: rgb(227, 236, 241);
    width: 450px;
    height: 450px;
    margin-top: 25px;
    margin-left: 25px ;
    margin-right: 25px;
    direction: rtl;
}
.myBody{
    color:rgb(16, 9, 102);
}
/* .myBorder{
    margin-top: -20px;
    width: 500px;
    height: 50px;
    border-color: black;
    background-color: rgb(229, 234, 241);
} */
/* .myTitle{
    width: 500px;
    height: 75px;
    background-color: rgb(229, 234, 241);
    margin-top: 600px;
    color:rgb(16, 9, 102);
    font-weight: bold;
    padding: 5px;
    
} */
/* .myBody{
    width: 500px;
     background-color: rgb(229, 234, 241);
     font-weight: bold;

}
.more{
    width: 30px;
    height: 30px;
    background-color: #feab69;
    font-weight: bold;
    border-color: none;
    margin-left: 150px;
}
.icon{
<<<<<<< HEAD
    border-radius: 50px;
    background-color:rgb(16, 9, 102);
    width: 50px;
    height: 50px;
=======
    border:none;
    background-color: #feab69;
    margin-left:3px ;
    margin-top: -500px;
} */
/* .tabel1{
    width: 500px;
    height: 750px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    direction:rtl;
    border-color: black;
    border: 30px;
    border: black;
} */


.myBody{
    /* width: 500px; */
     /* background-color: rgb(229, 234, 241); */
     /* direction: rtl; */
     background: transparent;
     /* font-weight: bold; */
     /* margin-right: 100px; */
} 
.plus{
    border-radius: 60px;
    background-color: rgb(16, 9, 102);
    margin-top: 20px;
}


 .contain_items{
    background-color: rgb(226, 233, 252);
    width: 94%;
    height: 300px;
    margin-left: 3%;
    margin-top: 10%;

} 


button{
    display: none;
    height: 29px;
    width: 29px;
    border-radius: 60px;
    background-color: rgb(16, 9, 102);
    color: white;
}

.active{
    display: block;
}
thead{
    /* font-size:x-large; */
    font-weight: bold;

}