<app-nav></app-nav>
<router-outlet></router-outlet>
<footer class="text-center text-lg-start bg-light text-muted">
    <div>
        <h1>אודות</h1>
        <p> מלל כלשהוא</p>
    </div>

    <div>
        <h1>סטטיסטיקות</h1>
        <p>40% חיסכון בזמן</p>
        <p> 70% קיצור משמרת</p>
        <p> חיסכון בדלק 35%</p>
    </div>

    <div>
        <h1>צור קשר</h1>
        <p>Sendit@gmail.com
              <span class="glyphicon glyphicon-envelope"></span>
       </p>
        <p>02-6225874
            <span class="glyphicon glyphicon-earphone"></span>
        </p>
       
        <p>054-4659858 </p>
         <!-- אייקון של ואטצאפ שלא עובד -->
        <i class="bi bi-whatsapp"></i>
    </div>
    

</footer>