



<div class="contain1" >
<!-- <img src="../../assets/pictures/listPackages/pic1.jpg"> -->
    <div class="itmes_contain">
      <div class="titles" >
        <h1>תצוגת מסלולים</h1>
        <div class="delivery_name">
           <p>שם השליח</p>
        </div>
      </div>
      <div class="nav_contain" >
        <div class="w3-top" class="nav_contain">
          <div class="w3-bar nav" id="myNavbar" >
      
            <button class="button" (click)="ChangeName('listPackages')" [ngClass]="nameToDisplay == 'listPackages' ? 'active' : 'button'">תצוגת חבילות</button>
            <button class="button" (click)="ChangeName('showRout')" [ngClass]="nameToDisplay == 'showRout' ? 'active' : 'button'">תצוגת מסלול</button>
            <button class="button" (click)="ChangeName('deliveryDetails')" [ngClass]="nameToDisplay == 'deliveryDetails' ? 'active' : 'button'">פרטי השליח</button>

            
            </div>
          </div>
      </div>



  <div class="c_contain">

          <div *ngIf= "nameToDisplay=='deliveryDetails'">
                <app-delivery-details></app-delivery-details>
          </div>

          <div *ngIf= "nameToDisplay=='showRout'">
              <app-show-rout></app-show-rout>
          </div>

          <div *ngIf= "nameToDisplay=='listPackages'">
              <app-list-packages></app-list-packages>
          </div>

  </div>
    </div>
    
  </div>