/* body{
    background-image: url("../../assets/pictures/listPackages/pic1.jpg");
}
.c{
   
    float: right;
    margin-right: 20%;
    margin-top: 10%;
    height: 76%;
    width: 35%;
    background-color: rgb(255, 200, 111);
    border-radius: 20px;
    } */