
<html>
    <body>
        <p>delivery-routs works!</p>
        <div class="headlines">
            <h1>תצוגת מסלולים</h1>
            <div>
                שם השליח
            </div>
        
            <ul class="nav nav-tabs">
                <li >
                  <a class="nav-link active" href="#" >פרטי שליח</a>
                </li>
                <li >
                  <a class="nav-link" href="#" routerLink="/DeliveryRouts/ShowRout">תצוגת מסלול</a>
                </li>
                <li >
                  <a class="nav-link" href="#" routerLink="/ListPackages">תצוגת חבילות</a>
                </li>
        
                
              </ul>
        
        </div>
    </body>
</html>
<!-- <router-outlet></router-outlet> -->