<div class="contain1">
  <table class="table">
    <thead class="myTitle">
      <tr>
        <th>שם שליח</th>
        <th>קוד שליח</th>
        <th>נקודת מוצא</th>
        <th>נקודת יעד</th>
      </tr>
    </thead>
  </table>
</div>
<div class="contain2">
  <table class="table">
    <tbody class="myBody" >
      <tr>
        <td>חננאל</td>
        <td>1234</td>
        <td>בר אילן</td>
        <td>הר נוף</td>
      </tr>
      <tr>
        <td>חננאל</td>
        <td>1234</td>
        <td>בר אילן</td>
        <td>הר נוף</td>
      </tr>
      <tr>
        <td>חננאל</td>
        <td>1234</td>
        <td>בר אילן</td>
        <td>הר נוף</td>
      </tr>
      <tr>
        <td>חננאל</td>
        <td>1234</td>
        <td>בר אילן</td>
        <td>הר נוף</td>
      </tr>
      <tr>
        <td>חננאל</td>
        <td>1234</td>
        <td>בר אילן</td>
        <td>הר נוף</td>
      </tr>
    </tbody>
  </table>
</div>