
<div class="container mt-3" >     
    <table class="table" class="tabel1" >
      <thead>
        <tr class="myTitle" >
          <th>שם שליח</th>
          <th>קוד שליח</th>
          <th>נקודת מוצא</th>
          <th>נקודת יעד</th>
         
        </tr>
      </thead>
      <tbody class="myBody" >
        <tr>
          <td>חננאל</td>
          <td>1234</td>
          <td>בר אילן</td>
          <td>הר נוף</td>
        </tr>
        <tr>
            <td>חננאל</td>
          <td>1234</td>
          <td>בר אילן</td>
          <td>הר נוף</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>בר אילן</td>
            <td>הר נוף</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>בר אילן</td>
            <td>הר נוף</td>
        </tr>
      </tbody>
 
    <tr>
       
    </table>

  </div>
