<p>sing-in works!</p>
<html>
    
    <body>
        <!-- "form__group " -->
        <!-- <div  class="c">  -->
            <img class="float-start"  src="../../assets/pictures/home/pic2.png"  >
            <h1 >התחברות</h1>
     <div class="container" style="margin:auto ;  margin-top: 20%;">
            <input  type="text" class="form__field" placeholder="שם משתמש" />
            <label  class="form__label"> </label>
            <br>
            <input  type="text" class="form__field" placeholder="סיסמא" style="margin-top: 2%;"/>
            <label  class="form__label"> </label>
            <br>
            <button routerLink="/SingUp" >יצירת חשבון חדש</button>

        </div>
   
        <!-- </div><br> -->
    
<!-- <div  style="  width: 300px; " class="example-button-row" >
    <div style="  width:550px;  margin: auto; margin-left: 510px; margin-top: 150px;">
    

        <div  style=" margin-left:135px; margin-top: 150px;"  class="form__group field">
            <input style="width: 250px; text-align: right; " type="text" class="form__field" placeholder="שם התרופה" name="NameMedicine" id='namemedicine' required />
            <label style="color: white; margin-left: 175px;  " for="namemedicine" class="form__label">שם התרופה</label>
        </div><br>
    
        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;" type="text" class="form__field" placeholder=" שם הפציינט" name="NamePatient" id='namepatient' required />
            <label style="color: white; margin-left: 175px;  " for="namepatient" class="form__label">שם הפציינט</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;" type="text" class="form__field" placeholder=" מספר פעמים ביום" name="Frequency‏" id='frequency‏' required />
            <label style="color: white; margin-left: 138px;  " for="frequency‏" class="form__label">מספר פעמים ביום</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;" type="text" class="form__field" placeholder=" מספר פעמים שנותרו" name="LeftDate" id='leftdate' required />
            <label style="color: white; margin-left: 122px;  " for="leftdate" class="form__label">מספר פעמים שנותרו</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;" type="text" class="form__field" placeholder=">הערות לאופן הלקיחה" name="Remarks" id='remarks' required />
            <label style="color: white; margin-left: 120px;  " for="remarks" class="form__label">הערות לאופן הלקיחה</label>
        </div>


     

    
    </div>
    </div> -->
     
    </body>
</html>