<!-- <p>sing-in works!</p>
<html>
    
    <body> -->
        <!-- "form__group " -->
        <!-- <div  class="c">  -->
            <!-- <img class="float-start"  src="../../assets/pictures/home/pic2.png"  >
            <h1 >התחברות</h1>
     <div class="container" style="margin:auto ;  margin-top: 20%;">
            <input  type="text" class="form__field" placeholder="שם משתמש" />
            <label  class="form__label"> </label>
            <br>
            <input  type="text" class="form__field" placeholder="סיסמא" style="margin-top: 2%;"/>
            <label  class="form__label"> </label>
            <br>
            <button routerLink="/SingUp" >יצירת חשבון חדש</button>

        </div>
     
    </body>
</html> -->

<img class="w3-image" src="../../assets/pictures/singIn/pic.jpg" alt="Hamburger Catering " width="1600" height="800">


<div class="text_contain" >
    <h1 >התחברות</h1>
       <input  type="text" class="form__field" placeholder="שם משתמש" name="userName" [(ngModel)]="this.userService.currentUser.user_name" />
       <label  class="form__label"> </label>
       <br>
       <input  type="text" class="form__field" placeholder="סיסמא" style="margin-top: 2%;" name="passwors" [(ngModel)]="this.userService.currentUser.user_password"/>
       <label  class="form__label"> </label>
       <br>
       <button (click)="signIn()">אישור</button>
       <button routerLink="/SingUp" >יצירת חשבון חדש</button>

   </div>
