<!-- <table class="table">

    <thead>
        <tr>
            <th>מייל</th>
            <th>שעות עבודה</th>
            <th>טלפון</th>
            <th>קוד שליח</th>
            <th>שם שליח</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table> -->
<!-- <div class="container1">
    <div class="myTitle">
        <h1>שם שליח</h1>
        <h1>קוד שליח</h1>
        <h1>שעות עבודה</h1>
        <h1>טלפון</h1>
        <h1>מייל</h1>

    </div>
    <button class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
            viewBox="0 0 16 16">
            <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
        </svg>
    </button>
    <br>
    <button class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
    </button>

    <div class="myBody">
        <table>
            <tr>שם</tr>
            <tr>12345</tr>
            <tr>4</tr>
            <tr>05462896354</tr>
            <tr>trhgd@gmail.com</tr>
        </table>
    </div>

</div> -->



<!-- <div class="container mt-3" >     
   
    <table class="table" class="tabel1" >
      <thead>
        <tr class="myTitle" >
          <th>שם שליח</th>
          <th>קוד שליח</th>
          <th>שעות עבודה</th>
          <th>טלפון</th>
          <th>מייל</th>
        </tr>
      </thead>
      <tbody class="myBody" >
        <tr>
          <td>חננאל</td>
          <td>1234</td>
          <td>145</td>
          <td>054628932</td>
          <td>john@example.com</td>

        </tr>
        <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>145</td>
            <td>054628932</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>145</td>
            <td>054628932</td>
            <td>john@example.com</td>
      
        </tr>
      </tbody>
      <button class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
            viewBox="0 0 16 16">
            <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
        </svg>
    </button>
    <tr>
        
        <button class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </button>
    </table> -->
<!--  
  </div>



<div class="contain_items" > -->

 

  




<!-- <div  >     
    <table class="table" class="tabel1" >
        <thead>

            <th >מייל</th>
            <th >שעות עבודה</th>
            <th >טלפון</th>
            <th >קוד שליח</th>
            <th >שם שליח</th>
           
      </thead>
      <tbody class="myBody" >
        <tr>
          <td>john@example.com</td>
          <td>145</td>
          <td>054628932</td>
          <td>1234</td>
          <td>חננאל</td>

        </tr> -->
        <!-- <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>145</td>
            <td>054628932</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>חננאל</td>
            <td>1234</td>
            <td>145</td>
            <td>054628932</td>
            <td>john@example.com</td>
      
        </tr> -->
      <!-- </tbody> -->
      <!-- <button class="icon">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
            viewBox="0 0 16 16">
            <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg></button>
  </div>-->

  <div class="contain_items" >

 <table class="table table-hover" style="width: 100%;float: right; direction: rtl;">
    <thead>
      <tr>

 <td >שם שליח</td>
 <td>קוד שליח</td>
 <td>טלפון</td>
 <td>שעות עבודה</td>
 <td>מייל</td>



      </tr>
    </thead>
    <tbody class="myBody">
      <!-- <tr (click)="changeStatus()" *ngFor="let item of listDelivery" > -->
      <!-- <div style="width: 50px; height: 50px; background-color: blueviolet;"></div> -->
      <tr  *ngFor="let item of listDelivery" (click)="changeStatus(item.id)" >

      

      
      <td >{{item.f_name}} {{item.l_name}}</td>
      <td>{{item.id}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.num_hours}}</td>
      <td>{{item.email}}</td>



    <td>
        <button class="icon" [ngClass]="currentDelivery=='act'&& currentId==item.id? 'active':'button'" (click)=" update()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
                viewBox="0 0 16 16">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg>
        </button>
    </td>
    <td>
        
        <button class="icon" [ngClass]="currentDelivery=='act'&& currentId==item.id? 'active':'button'" (click)="delete(item.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </button>

    </td>
    
  
      </tr>

    </tbody>
  </table>


</div>












  



