

.myTitle{
    /* width: 500px;
    height: 75px; */
    background-color: rgb(229, 234, 241);
    /* margin-top: 600px; */
    color:rgb(16, 9, 102);font-weight: bold;
}
.plus{
    border-radius: 60px;
    background-color: rgb(16, 9, 102);
    width: 60px;
    height: 60px;
}
.icon{
    border:none;
    background-color: #feab69;
}
