
<form>
    <input type="radio" name="fancy" autofocus value="client1" id="client1" />
    <input type="radio" name="fancy" value="client2" id="client2" />
    <input type="radio" name="fancy" value="client3" id="client3" />
    <input type="radio" name="fancy" value="client4" id="client4" />
  

    <label for="client1"> 
      vhhh
        <img src="../../assets/pictures/recommendation/Mask Group 1.png">
    </label>
    <label for="client2"> </label>
    <label for="client3"> </label>
    <label for="client4"> </label>

</form>

<!-- 
<label for="clubs">&#9827; Clubs</label>
<label for="hearts">&#9829; Hearts</label>
<label for="spades">&#9824; Spades</label>
<label for="diamonds">&#9830; Diamonds</label> -->