<!-- <p>personal-nav works!</p> -->
<!-- <html>
    <body>
<div class="c" >
<ul class="nav nav-tabs">
    <li >
      <a class="nav-link active" href="#" routerLink="/PersonalNav/NewOrder">יצירת הזמנה חדשה</a>
    </li>
    <li >
      <a class="nav-link" href="#" routerLink="/PersonalNav/DeliveriesList">שליחים</a>
    </li>
    <li >
      <a class="nav-link" href="#" routerLink="/PersonalNav/RoutsList">תצוגת מסלולים</a>
    </li>
    <li >
        <a class="nav-link" href="#" routerLink="/PersonalNav/OrderList">תצוגת הזמנות</a>
      </li>
      <li >
        <a class="nav-link" href="#" routerLink="/PersonalNav/Details">פרטים אישיים </a>
      </li>
    
  </ul>
</div>

</body>

</html> -->