

<html> 
    <body>
        <button routerLink="/PersonalArea">איזור אישי</button>
        <!-- <button routerLink="/ListPackages">תצוגת חבילות </button> -->
        <button routerLink="/DeliveryRouts">מסלולי שליח  </button>




       
             <img class="float-start"  src="../../assets/pictures/home/pic2.png"  >

<button routerLink="/SingIn">התחבר</button>
<button routerLink="/SingUp">הירשם</button>


<button routerLink="/SingUp" class="s" >  רוצה להירשם?</button>
<!-- <div style="background-color: aqua; height: 800px; width: 1580px;">

</div> -->
    </body>
</html>