<!-- <button routerLink="/PersonalArea">איזור אישי</button>
<button routerLink="/ListPackages">תצוגת חבילות </button>
<button routerLink="/DeliveryRouts">מסלולי שליח  </button> -->

<!-- <img class="w3-image" src="../../assets/pictures/home/pic4.jpg" alt="Hamburger Catering" width="1600" height="800"> -->
<!-- <button routerLink="/SingIn">התחבר</button>
<button routerLink="/SingUp">הירשם</button> -->
<!-- <button routerLink="/SingUp" class="sing_in-button">  רוצה להירשם?</button> -->
<!-- <div style="background-color: aqua; height: 800px; width: 1580px;">
</div> -->
<div style="background-color: rgb(24, 255, 178); height: 1000px;"> home</div>
