
.text_contain{
    direction: rtl;
    margin-top:6%;
    /* background-color: aqua; */
    margin-right: 3%;
}
.form__field{
    direction: rtl;
    background-color: #feab69;
    border:none;
    margin-right: 10px;
}
h1{
    font-weight: bold;
    color:rgb(16, 9, 102);
    direction: rtl;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 1px;
}
.update{
    background-color: #feab69;
    border-radius: 20px;
    color:rgb(16, 9, 102);
    width: 15%;
    height: 35px;
    position: relative;
    margin-right: 270px;
}
.under{
    border:none;
    border-radius: 20px;
    width: 25%;
    height: 50px;
    position: relative;
    margin-right: 430px;
    margin-top: -50px;
    opacity: 0.5 !important;
}
input{
    color:rgb(16, 9, 102) ;
    /* direction: rtl; */
    /* margin-right: 20px; */
}