

<h1>לקוחות מספרים</h1>
<p class="line"></p>
<form>

    <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
    <input type="radio" name="fancy" value="hearts" id="hearts" />
    <input type="radio" name="fancy" value="spades" id="spades" />
    <input type="radio" name="fancy" value="diamonds" id="diamonds" />	
    
    <label for="clubs" >
       
     <img src="../../assets/pictures/recommendation/Mask Group 1.png" style="float: right; margin-top: 60px; margin-right: 40px;"> 
     תודה לצוות סנד איט,
    .התחלתי לתקתק עבודה ברמה שאני מסוגל להכניס עבודה נוספת ביום
    </label>
    <label for="hearts">
        <img src="">
    </label>
    <label for="spades">&#9824; Spades</label>
    <label for="diamonds">&#9830; Diamonds</label>
    <!-- <div for="clubs"> </div>
    <div for="hearts"></div>
    <div for="spades"></div>
    <div for="diamonds"></div> -->
    
    

    <div class="keys">Use left and right keys to navigate</div>
</form>