<div class="text_contain">

    <h1>שם משתמש</h1>
    <input  type="text" class="form__field" placeholder="שם " />
    <label  class="form__label"> </label>
    
    <h1>סיסמא</h1>
    <input  type="text" class="form__field" placeholder="סיסמא"/>
    <label  class="form__label"> </label>
   
    <h1>שם העסק</h1>
    <input  type="text" class="form__field" placeholder="שם העסק" />
    <label  class="form__label"> </label>
    
    <h1>כתובת</h1>
    <input  type="text" class="form__field" placeholder="כתובת" />
    <label  class="form__label"> </label>
    
    <h1>ח.פ</h1>
    <input  type="text" class="form__field" placeholder="ח.פ" />
    <label  class="form__label"> </label>
    
    <h1>טלפון</h1>
    <input  type="text" class="form__field" placeholder="טלפון"/>
    <label  class="form__label"> </label>
    
    <h1>מייל</h1>
    <input  type="text" class="form__field" placeholder="מייל"/>
    <label  class="form__label"> </label>
  
</div>
