
<!-- <div width="1600" height="800" style="background-image:url(../../assets/pictures/singIn/pic.jpg)"> -->


<div class="contain_items" >
    <div class="title">
        <h1>התחבר למערכת</h1>
      

    </div>
    <div class="buttons">
        <div  style=" width: 40%; height: 40%;" >
            <button>עסקים</button>
    
        </div>
        <div style=" width: 40%;height: 40%; ">
            <button  routerLink="/deliverySignIn">שליחים</button>

        </div>
    </div>
</div>

<!-- </div> -->
