<!-- <img src="../../assets/pictures/statistic/xyyhxyheu,.png">
<p>statistic works!</p> -->
<!-- <div style="background-color: rgb(41, 5, 10); height: 1000px;"> סטטיסטיקות</div> -->


<div class="container1">
    <div class="aligh-item">
        <div class="h-100 w-50" style="height:100%;width: 50%;">
          <img src="../../assets/pictures/statistic/xyyhxyheu,.png" style="height:600px;">
        </div>
        <div  style="height:90%; width: 50%; ">
           <h1>סטטיסטיקות</h1>
           <p class="line"></p>

        <div class="contain_items">
              

              <div class="text_div">
                <p  style="margin-top: 50px; font-size: large;">40%</p>
                <p class="tb">חיסכון בזמן</p><br>

                <p style="font-size: large;">70%</p>
                <p class="tb">קיצור משמרות</p><br>

                <p style="font-size: large;">35%</p>
                <p class="tb">חיסכון בדלק</p><br>

              </div>

              <div class="circle_div">
                <div class="circle" style="background-color: rgb(103,107,241);"></div>
                <div class="circle" style="background-color: rgb(254, 171, 105);"></div>
                <div class="circle" style="background-color: rgb(28,130,241);"></div>
            </div>
       </div>
        </div>
    </div>
</div>